
/*'text': '#d8e0f9',
'background': '#141a2b',
'primary': '#8fb3ff',
'secondary': '#091639',
'accent': '#5fdd31',
*/

.global{
    background-color: #141a2b;
}

.custom-card-header {
    background-color: #8fb3ff;
    

}

.custom-card-body {
    background-color: #091639;
}

.custom-card-grid {
    background-color: #141a2b;
}

.custom-header{
    background-color: #8fb3ff;
    color: #091639;
}
.search-box{
    background-color: #091639;
    accent-color: #5fdd31;
}